
    body{
      background-color: lightgreen;
    }
    hr{
      background-color: none;
      border-style:none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%;
    }
    img{
      height: 150px;
    }
    h1{
      color: darkred;
    }
    h3{
      color: darkred;

    }
    /*img{
      border-radius: 100%;
    }
    */
